* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}  
  
  
  /* .game {
  width: 1270px;
  height: 650px;
  border: 1px solid black;
  margin: auto;
} */


#road{

  height: 45px;
  width: 1280px;
  position: absolute;
  bottom: 50px;
  /*height: 30px;
  width: 1200px;
  position: absolute;
  bottom: 0; */
  background-image: url("road.png.png");

}

#velocity{
  position: absolute;
  top: 50px;
  left: 10px;
  font-size: 24px;
  color: white;

}

#score{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
}

#highscore {
  position: absolute;
  top: 50px;
  right: 10px;
  font-size: 24px;
}


#gameover {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px #000;
  }

#dino {
  width: 80px;
  height: 80px;
  background-image: url(dino.png.png);
  background-size: 80px 80px;
  position: relative;
  top: 489px;
  left: 45px;
}

.jump {
  animation: jump 0.4s linear;
}   

@keyframes jump {
  0% {
    top: 489px;
  }

  30% {
    top: 455px;
  }

  50% {
      top: 415px;
  }

  80% {
    top: 455px;
  }

  100% {
    top: 489px;
  }
}

#cactus {
  width: 20px;
  height: 40px;
  position: relative;
  top: 437px;
  left: 650px;

  background-image: url("cactus.png.png");
  background-size: 20px 40px;
  
  animation: block 1.7s infinite linear;
}



#cloud{
   
  /* position: relative;
  top: 200px; */
  height: 80px;
  width: 1200px;
  border-radius: 40px;
  position: absolute;
  /* top: 30px; */
  top: 50px;
  background-image: url("cloud.png.jpg");

}




@keyframes cloudAnimate {
  0% {
      left: -2000px;
  }

  100% {
      left:70%;
  }
}

@keyframes block{
0%{
  left: 580px;

}

100%{
  left: -20px;
}
}